DATABASE_URL="postgresql://postgres:dev8090100@localhost:5432/store_db?schema=public"
JWT_ACCESS_SECRET=super-secret-key-change-this-13i12398123128u3jf98dsajfd9isajf98dsajfdsa
JWT_REFRESH_SECRET=your-super-secret-refresh-token-key-minimum-32-chars
